<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBt95ErR2zXe7hK8BULMY6J8mw9KIyanGg</string>
	<key>GCM_SENDER_ID</key>
	<string>48987067227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.math</string>
	<key>PROJECT_ID</key>
	<string>fih-test-c8ebd</string>
	<key>STORAGE_BUCKET</key>
	<string>fih-test-c8ebd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48987067227:ios:0b6882bc14ecd9af59807e</string>
</dict>
</plist>